@model BookingSystem.Models.DetailsGymClassViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GymClass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => Model.gymClass.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => Model.gymClass.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => Model.gymClass.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => Model.gymClass.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => Model.gymClass.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => Model.gymClass.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => Model.gymClass.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => Model.gymClass.Description)
        </dd>
        <dt class="col-sm-2">
            Signups
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.detailsData)
            {
                <p>@Html.DisplayFor(modelitem => item)</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.gymClass?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
